[Unit]
Description=Run pg_dump

[Timer]
Unit=backup-postgres.service
OnCalendar=*-*-* 00:00
; OnUnitActiveSec=24h

[Install]
WantedBy=multi-user.target
